<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{ user?.firstName + ' ' + user?.lastName}}!
  </h1>
  
</div>
<h2>You have the following notifications: </h2>
<ul>
  <li *ngFor="let n of notifications" >
    <h2>{{n.title}}</h2>
    <h4>{{n.message}}</h4>
  </li>
  
</ul>

<router-outlet></router-outlet>
